#root {
  max-width: 1280px;
  margin:0;
  padding:0;
  text-align: center;
}
.body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

html {
  background-color: #fff!important;
  box-sizing: border-box
}
html::-webkit-scrollbar {
  display: none;
}

/* MY CSS */
.collaborate {
  text-align: left;
  padding: 3% 18%
}

.collaborate h4 {
  font-weight: bolder
}

.content_section {
  padding: 3% 18%;
  text-align: left;
  font-family: serif
}
.services_section {
  /* border: solid blue; */
  padding-right:0;
}
.servicesH2{
  width:100%;
  /* border:solid black; */
}
.servicesH2 h2 {
  font-style: normal;
  font-weight: lighter;
  font-size: 400%;
}

.servicesH3 {
  margin-bottom: 5%;
  padding: 9% 0 20%
}

.servicesH3 h3 {
  font-weight: lighter
}

.serviceImage {
  width: 95%;
  height: 90%;
  object-fit: cover
}

.servicesP p {
  display: inline-block;
  font-weight: bolder;
  font-size: 1.2rem
}

.servicesP p:hover {
  color: #555151
}

.servicesP p:hover+img {
  position: relative;
  -webkit-animation-name: change;
  animation-name: change;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

.servicesP a {
  color: #000
}

.servicesP img {
  width: 25px;
  margin-left: 20px
}

.servicesP img:hover {
  position: relative;
  -webkit-animation-name: change;
  animation-name: change;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  cursor: pointer
}
@media screen and (max-width: 1500px) {
  .collaborate {
    padding: 3% 5%
}
  .content_section {
      padding:5% 3%
  }
  .services_section{
    padding-right: 13%;
  }
  .servicesH2 h2 {
      font-size: 300%;
  }

  .serviceImage {
      height: 100%;
      width: 100%;
  }

  .servicesH3 {
      padding-bottom: 20%
  }

  .servicesH3 h3 {
      font-weight: 500;
  }

  .servicesH3 h3,.servicesP p {
      font-size: 1.3rem
  }
}



@media screen and (max-width:576px) {
  .services_section{
    padding:0;
  }
.servicesP p {
  color: #007bff;
}
.servicesP p:hover {
  color: #555151;
}
.servicesH3 {
  padding-bottom: 1%;
}
.servicesH2{
  font-size: 80%;
}

.servicesH3 h3,.servicesP p {
  font-size: 1.2rem
}
}
/* .hhh   {
  display:flex;
  flex-flow: column;
}
.servicesH2{order:1;}
.hello2{order:2}
.servicesH3{order:3;}
.servicesp{order:4;} */



/* ARROW animation*/
@-webkit-keyframes change {
  0% {
      left: 15px;
      opacity: 0
  }

  to {
      left: 0;
      opacity: 1
  }
}

@keyframes change {
  0% {
      left: 15px;
      opacity: 0
  }

  to {
      left: 0;
      opacity: 1
  }
}
